

















.hljs {
  display: inline-block;
}

.vouilltip {
  position: relative;
  display: inline;
  text-align: center;
}
.vouilltip-content {
  min-width: 7em;
  max-width: 14em;
  background-color: #566a75;
  color: white;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
}
.vouilltip-slot ~ span {
  opacity: 0;
  z-index: -1;
}
.vouilltip-slot:hover ~ span {
  opacity: 1;
  z-index: 10;
}
.vouilltip > .vouilltip-arrow {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #566a75;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transition: all 0.4s;
}


.vouill--modal {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 600px;
}
.vouill--modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.vouill--modal--header {
    text-align: center;
    width: 100%;
    background-color: #F7F7F7;
    padding: 0.5em 0em;
}
.vouill--modal--header h1 {
      margin: 0;
}
.vouill--modal--content {
    padding: 2em;
    padding-top: 1em;
}
.vouill--modal--content h2 {
      margin: 0;
}
.vouill--modal--action-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}

body {
  background-color: #EDF1F2;
}
button:focus {
  outline: 0;
}
#app {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Open Sans", sans-serif;
  color: #566A75;
}
a {
  color: #27AAE1;
  text-decoration: none;
}
a:hover {
    color: #48BB70;
}
.animated-short {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav {
  padding: 1em;
  background-color: white;
}
.nav a {
    color: #566A75;
}
.nav a:hover {
      cursor: pointer;
      text-shadow: 0px 0px 2px rgba(86, 106, 117, 0.3);
}
.v-bttn {
  background-color: #27AAE1;
  border: none;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  transition: all 0.1s;
  box-shadow: 0px 3px 0px #1a8bbb;
  cursor: pointer;
}
.v-bttn:active {
    background-color: #1a8bbb;
    transform: translateY(3px);
    box-shadow: none;
}
.v-bttn--success {
    background-color: #48BB70;
    box-shadow: 0px 3px 0px #389859;
}
.v-bttn--success:active {
      background-color: #389859;
      box-shadow: none;
}
.v-bttn--danger {
    background-color: #F05050;
    box-shadow: 0px 3px 0px #c91111;
}
.v-bttn--danger:active {
      background-color: #c91111;
      box-shadow: none;
}
.v-bttn--warning {
    background-color: #EF8748;
    box-shadow: 0px 3px 0px #c05311;
}
.v-bttn--warning:active {
      background-color: #c05311;
      box-shadow: none;
}
.v-bttn--disabled {
    color: #A4A4A4;
    background-color: #DDDDDD;
    box-shadow: 0px 3px 0px #dddddd;
}
.v-bttn--disabled:active {
      background-color: #aaaaaa;
      box-shadow: none;
}
.v-bttn:disabled {
    color: #A4A4A4;
    background-color: #DDDDDD;
    box-shadow: 0px 3px 0px #dddddd;
}
.v-bttn:disabled:active {
      background-color: #aaaaaa;
      box-shadow: none;
}
.bordered {
  border: 1px dimgrey solid;
}
.h-resizable {
  position: relative;
  overflow: scroll;
  resize: horizontal;
}
.h-resizable:after {
    content: 'Resizable';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 80%;
}
.v-resizable {
  position: relative;
  overflow: scroll;
  resize: vertical;
}
.v-resizable:after {
    content: 'Resizable';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 80%;
}
.resizable {
  position: relative;
  overflow: scroll;
  resize: both;
}
.resizable:after {
    content: 'Resizable';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 80%;
}
.width-phone {
  width: 365px;
}
.width-tablet {
  width: 768px;
}
.width-desktop {
  width: 1024px;
}
.max-width-phone {
  max-width: 365px;
}
.max-width-tablet {
  max-width: 768px;
}
.max-width-desktop {
  max-width: 1024px;
}
.fullWidth {
  width: 100%;
}
.flex {
  display: -ms-flexbox;
  display: flex;
}
.fsb {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.fs {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.fe {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.fsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.fc {
  -ms-flex-pack: center;
      justify-content: center;
}
.fg1 {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.fwrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.h-equal-list {
  display: -ms-flexbox;
  display: flex;
}
.h-equal-list > li {
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.h-equal-list > ul {
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.h-list {
  display: -ms-flexbox;
  display: flex;
}
.h-list li {
    margin: 0 1em;
}
.h-list--end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.h-list--end li {
    margin: 0 1em;
}
body.modal-open {
  overflow: hidden;
}

/*# sourceMappingURL=app.75b70d47db39bdd27f27510929645c69.css.map*/